body {
  font-family: "Roboto", sans-serif;
  background: #eef9bf;
  color: #75b79e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 56px;
  display: flex;
  justify-content: center;
}

span {
  position: absolute;
  right: 40px;
  top: 50px;
  font-size: 36px;
  color: #5c913b;
}

.desktopTitle {
  margin-top: 40px;
}
.mobileTitle {
  margin-top: 40px;
  display: none;
}

.cardDisplay {
  width: 923px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 47px;
}

.card {
  width: 117px;
  height: 146px;
  border-radius: 5px;
  margin: 17px;
  background: #a7e9af;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.showBackFace {
  transform: rotateY(180deg);
}

.showFrontFace {
  transform: rotateY(-180deg);
}

.card img {
  width: 100px;
}

@media (max-width: 950px) {
  .cardDisplay {
    width: 100%;
  }
}

@media (max-width: 700px) {
  p {
    font-size: 36px;
  }

  span {
    right: 20px;
  }

  .desktopTitle {
    display: none;
  }
  .mobileTitle {
    display: block;
  }

  .cardDisplay {
    width: 100%;
  }
}

@media (max-width: 350px) {
  span {
    right: 10px;
  }

  .card {
    margin-left: 55px;
    margin-right: 55px;
  }
}
